body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
}