body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
}

.card_text {
  width: 95%;
  height: 95%;
}
