script(type='text/javascript', src='/javascripts/card.js')

a(href='https://github.com/ychubachi/affinity-diagram-editor', target='_blank') GitHub

div
 input(type='text');
 input(type='submit', value='Ceate', onclick='createCard()');
 p#status
hr

div#cards
